<!DOCTYPE html>
<head>
  <link REL=StyleSheet HREF="../stylesheets/common_.css" TYPE="text/css">
  <link REL=StyleSheet HREF="../stylesheets/default.css" TYPE="text/css">

  <title>Wire2Web static template</title>
</head>
<body>
  <h1 id="project_title">Wireframe [Project Name]</h1>
  <div id="wrapper">
    <div id="left">
      <div class="container">
        <h2>Pages</h2>
        <ul>
          <li>Pages in the wireframe project will be listed here</li>
      </ul>
      </div>
    </div>

    <div id="middle">
      <div class="container">
        <div id="box">
          <div id="box-top"><!-- this is just a placeholder for the wireframe top image - see css--></div>
          <div id="box-middle">
            <h1>Default wireframe content</h1>
          </div>
          <div id="box-bottom"><!-- this is just a placeholder for the wireframe bottom image - see css--></div>
        </div>
      </div>
    </div>

    <div id="right">
      <div class="container float-left clear-left">
        <h2>Notes</h2>
        <p>Please add any notes here and submit</p>
        <form name="myform" action="" method="POST">
          <textarea cols="20" rows="2" id	="comments" align="left">
            Please enter any comments here.
          </textarea>
          <br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</body>
